// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.


// @import "../pages/item-details/item-details";

@import "../pages/tournament/standings/standings";

.filter-button-text{
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.header-bar {
  max-height: 22px;
}

ion-col[width-40] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}

ion-col[width-12] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 12%;
  -ms-flex: 0 0 12%;
  flex: 0 0 12%;
  max-width: 12%;
}

ion-row.standings {
  border-bottom: 1px solid #eee;
}

ion-col.standings-data {
  height: 44px;
  line-height: 44px;
  overflow: hidden;
}

.row:nth-of-type(odd) {
    background: #e0e0e0;
}
//
// ion-row.standings:nth-of-type(odd) {
//   background: #eee;
// }
