<ion-menu [content]="content">

  <ion-toolbar>

    <!-- <ion-buttons start>
      <button small outline dark menuToggle>
        <ion-icon name="swap"></ion-icon>
      </button>
    </ion-buttons> -->

    <ion-title style="padding: 0px;">
      <!-- <button outline primary small> -->
        <!-- <b> -->
          Mass Elite Boys
          <!-- <ion-icon name="arrow-dropdown"></ion-icon> -->
        <!-- </b> -->
      <!-- </button> -->
    </ion-title>
  </ion-toolbar>

  <ion-content>

    <ion-list>
      <ion-item (click)="closeMenu()">
        Zero Gravity Tournmant
        <ion-icon name="swap" primary item-right></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-icon name="git-network"></ion-icon>
        Tournament Pages
      </ion-list-header>

      <button ion-item *ngFor="#p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-icon name="information-circle-outline"></ion-icon>
        Tournament Info
      </ion-list-header>
      <button ion-item *ngFor="#t of tournamentInfo" (click)="openPage(t)">
        {{t.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-icon name="settings-outline"></ion-icon>
        App Settings
      </ion-list-header>
      <button ion-item *ngFor="#s of settings" (click)="openPage(s)">
        {{s.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-item (click)="closeMenu()">
        <span danger>Log Out</span>
        <ion-icon name="log-out" danger item-right></ion-icon>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
